<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Jenkins Pipeline</title>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/bootstrap-reboot.min.css" rel="stylesheet">
<link href="css/font-awesome.min.css" rel="stylesheet">

<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/popper.min.js"></script>
<script type="text/javascript" src="js/moment-with-locales.min.js"></script>
<script type="text/javascript" src="js/moment-timezone-with-data.min.js"></script>
</head>
<body>
	<div class="container-fluid">
		<p>Hello! I am in a full-width container.</p>
	</div>
</body>
</html>